body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#AFEEEE;
}

header {
    background-color:#008080;
    color: #333333;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
}

main {
    padding: 20px;
}

.yoga-posture {
    background-color:#E6E6FA;
    color: #333333;
    margin: 20px 0;
    padding: 20px;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.yoga-posture img {
    width: 30%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
.row_1{
    display:flex;
    justify-content: space-around;
}
.row_2{
    display: flex;
    justify-content: space-around;
}